<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Plaid Quickstart Example</title>
  <link rel="stylesheet" href="https://threads.plaid.com/threads.css">

  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <main class="main">
    <div class="grid">
      <div class="grid__column grid__column--is-twelve-columns">
        <div id="banner" class="everpresent-content">
          <h1 class="everpresent-content__heading">Plaid Quickstart</h1>
          <p id="intro" class="everpresent-content__subheading">
            An example application that outlines an end-to-end integration with Plaid
          </p>
          <p id="steps" class="everpresent-content__subheading">
            Success! You just created an Item by linking your account.
          </p>
        </div>

        <div id="container" class="initial-view">
          <p class="initial-view__description">
            Click the button below to open a list of Institutions. After you select one, you’ll be guided through an
            authentication process. Upon completion, a public_token will be passed back to the server and exchanged for
            access_token.
          </p>

          <button id="link-btn" class="button button--is-primary">Connect with Plaid</button>
        </div>

        <div id="app" class="connected-view">
          <p class="initial-view__description">
            Success! You may now close your browser and continue using the CLI tool.
          </p>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
    (function ($) {
      var products = '<%= PLAID_PRODUCTS %>'.split(',');
      if (products.includes('assets')) {
        $('#assets').show();
      }

      var handler = Plaid.create({
        apiVersion: 'v2',
        clientName: 'Plaid Quickstart',
        env: '<%= PLAID_ENV %>',
        product: products,
        key: '<%= PLAID_PUBLIC_KEY %>',
        countryCodes: '<%= PLAID_COUNTRY_CODES %>'.split(','),
        // webhook: 'https://your-domain.tld/plaid-webhook',
        onSuccess: function (public_token) {
          $.post('/get_access_token', {
            public_token: public_token
          }, function (data) {
            $('#container').fadeOut('fast', function () {
              // Hack to close the window now!
              window.open('', '_self').close();

              $('#item_id').text(data.item_id);
              $('#access_token').text(data.access_token);
              $('#intro').hide();
              $('#app, #steps').fadeIn('slow');
            });
          });
        },
      });
      var accessToken = qs('access_token');
      if (accessToken != null && accessToken != '') {
        $.post('/set_access_token', {
          access_token: accessToken
        }, function (data) {
          $('#container').fadeOut('fast', function () {
            $('#item_id').text(data.item_id);
            $('#access_token').text(accessToken);
            $('#intro').hide();
            $('#app, #steps').fadeIn('slow');
          });
        });
      }

      $('#link-btn').on('click', function (e) {
        handler.open();
      });
    })(jQuery);

    function qs(key) {
      key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
      var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
      return match && decodeURIComponent(match[1].replace(/\+/g, " "));
    }

    function displayError(element, error) {
      var html = `
    <div class="alert alert-danger">
      <p><strong>Error Code:</strong> ${error.error_code}</p>
      <p><strong>Error Type:</strong> ${error.error_type}</p>
      <p><strong>Error Message:</strong> ${error.display_message == null ? error.error_message : error.display_message}</p>
      <div>Check out our <a href="https://plaid.com/docs/#errors-overview">errors documentation</a> for more information.</div>
    </div>`;
      $(element).html(html).slideDown();
    }
  </script>
</body>

</html>